<a class="zoom" href="https://slack.com/oauth/authorize?scope=commands&client_id=70109410515.83017068224" onclick="ga('send', 'event', 'Subscription', 'Click Add to Slack');">
    <img alt="Add to Slack" width="220" src="img/addtoslack.png" srcset="img/addtoslack.png" /></a>