<footer>
    <div class="container">
        <p>
            &copy; <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script>
            <a href="http://liscioapps.com">Liscio Apps, LLC</a>. All Rights Reserved. <br/>
            Made with <i class="fa fa-heart text-danger"></i> in Maryland.
        </p> 
        <br/>
        <p>
            <span class="badge badge-dark">v{{pVersion}}</span>
        </p>
        <br/>
        <ul class="list-inline">
            <li>
                <a href="/privacy">Privacy</a>
            </li>
            <li>
                
            </li>
            <li>
                <a href="/terms">Terms</a>
            </li>
        </ul>
    </div>
</footer>