<li class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object img-responsive" width="100%" src="./img/{{toLowerString image}}" alt="Zach profile picture">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{person}} <span class="text-muted">{{time}}</span> </h4>
        <div class="slackmsg">
            {{{text}}}
        </div>
    </div>
</li>