<nav id="smallNav" class="navbar navbar-default navbar-static-top smallheader">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand page-scroll text-warning" href="/">listMe for Slack <i class="glyphicon glyphicon-list-alt"></i><br/></a>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>