<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>We'd <i class="fa fa-heart"></i> to hear from you!</h2>
        <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="https://twitter.com/listmeoffical"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a href="https://www.facebook.com/listmeoffical"><i class="fa fa-facebook"></i></a>
            </li>
        </ul>
    </div>
</section>