{{> smallnav }}

<div class="container">
    <div class="jumbotron alert-warning">
        <h1>Oops!</h1>
        <h3>We can't seem to find the page you're looking for</h3>
        <br/>
        <div class="text-center">
            <img src="{{img}}" width="400" class="text-center" />
        </div>
        <br/><br/>
        <div class="text-muted">If the issue continues, please <a href="mailto:support@listme.chat">contact us</a>
            so we can help...or we can just fix it <i class="fa fa-frown-o" aria-hidden="true"></i></div>
    </div>
</div>

{{> social}}