{{> smallnav}}

<div class="container">
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <div class="jumbotron alert-success">
                <h2>Welcome {{info.slack.name}}</h2>
                {{#noActiveSub info.btcust.paymentMethods}}
                <p class="text-center text-warning">
                    No active subscription found for your account.  <br/>
                    If you'd like to subscribe, please click here: <br/><br/>
                    {{> subscribebtn}}
                </p>
                {{else}}
                <p>You can manage all your account information below.</p>
                {{/noActiveSub}}
            </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-lg-6">
        {{#if info.slack}}

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Slack Information</h3>
                </div>
                <table class="table table-striped">
                    <tr>
                        <td class="text-right">Team Name:</td>
                        <td>{{info.btcust.firstName}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">User:</td>
                        <td>{{info.slack.name}}</td>
                    </tr>
                </table>
            </div>
        {{/if}}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Subscription Information</h3>
                </div>
                <div class="panel-body">
                    {{#if info.btcust.paymentMethods}}
                        {{#each info.btcust.paymentMethods}}
                            {{#each this.subscriptions}}
                                <h4>{{getSubStatus this.status}}</h4>
                                <table class="table table-striped">
                                    <tr>
                                        <td class="text-right"><i class="icon-credit-card"></i></td>
                                        <td>{{../maskedNumber}}</td>
                                    </tr>
                                    {{#showCancelSub this.status}}
                                    <tr>
                                        <td class="text-right">Started: </td>
                                        <td>{{this.firstBillingDate}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">Next Billing Date:</td>
                                        <td>{{this.nextBillingDate}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">Amount</td>
                                        <td>$ {{this.nextBillAmount}}</td>
                                    </tr>
                                    {{/showCancelSub}}
                                </table>
                            {{#showCancelSub this.status}}
                                <br/>
                                <div class="text-center">
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#cancelModal{{this.id}}">
                                        Cancel Subscription
                                    </button>
                                </div>
                            {{/showCancelSub}}

                                <div class="modal fade" id="cancelModal{{this.id}}" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title text-danger">Cancel Subscription</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure that you want to cancel your subscription?  This cannot be undone and may result in the lost of your list data.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <form action="/api/bt/cancel" METHOD="POST">
                                                    <div class="form-group">
                                                        <input type="hidden" name="subid" value="{{this.id}}">
                                                        <input type="submit" class="btn btn-danger" value="Cancel Subscription">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            {{/each}}
                        {{/each}}
                    {{else}}
                            <div class="text-center text-warning">
                                No payment methods found with your account.  If you'd like to subscribe, please click here <br/>
                                {{> addtoslackbtn}}
                            </div>
                    {{/if}}
                </div>

            </div>
        </div>
        <div class="col-md-6">
            {{> supportform}}
        </div>
    </div>
</div>