<div class="container">
    <h2>Team Stats</h2>
    <p class="muted">To find stats from a previous month, go to this page and add  ?thismon=THEMONTH to the end in the form 2016:11</p>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <th>Name</th>
                    <th>ID</th>
                    <th>Monthly Active Users</th>
                </thead>
                <tbody>
                    {{#each stats}}
                    <tr class="{{#if (greaterThan this.usercount 4)}}danger{{/if}}">
                        <td class="col-sm-5">
                            <a href="/admin/team/{{this.slackID}}">
                            {{this.slackTeamName}}
                            </a>
                        </td>
                        <td class="col-sm-4">
                            <a href="/admin/team/{{this.slackID}}">
                            {{this.slackID}}
                            </a>
                        </td>
                        <td class="col-sm-3">
                            {{this.usercount}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
</div>

{{#section 'endscripts'}}
    <script>
        $( document ).ready(function() {

        });
    </script>
{{/section}}