<div class="container">
    <h2>Beta Invites</h2>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-8">
            <h3>Add Invite</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>User</th>
                    <th>First Name</th>
                    <th colspan="2">Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            <select class="form-control" id="user" name="user">
                                <option value=""></option>
                                <option value="Brendan">Brendan</option>
                                <option value="Josh">Josh</option>
                                <option value="Twitter">Twitter</option>
                                <option value="Facebook">Facebook</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </td>
                    <td><div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Jesse Chen"/>
                    </div></td>
                    <td>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="friend@buyitplease.com"/>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success" id="btnBetaadd" name="btnBetaadd">Add & Send Invite</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-8">
            <h3>Invite Details</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>User</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Sent</th>
                    <th>Used</th>
                </tr>
                </thead>
                <tbody>
                {{#each betainfo}}
                    <tr>
                        <td>{{this.code}}</td>
                        <td>{{this.user}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.sent}}</td>
                        <td>{{this.used}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
</div>

{{#section 'endscripts'}}
    <script>
        $( document ).ready(function() {
            $("#btnBetaadd").click(function(){
                var email = $("#email").val();
                var name = $("#name").val();
                var user = $("#user").val();
                $.post("/api/admin/betacode",  {
                            user: user,
                            name: name,
                            email: email
                        },
                        function(data, status){
                            $("#email").val('');
                            $("#name").val('');
                            $("#user").val('');
                            window.location.href = "/admin-beta";
                        });
            });
        });
    </script>
{{/section}}