{{> smallnav }}

<div class="container" style="padding-top: 20px !important;">
    <form action="/admin" method="POST">
        <div class="form-group">
            <label>Username:</label>
            <input type="text" class="form-control" placeholder="user" name="username"/><br/>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" name="password"/>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control" value="Submit"/>
        </div>
    </form>
</div>