<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Dashboard</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-calendar-check-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{stats.DAU}}</div>
                        <div>Daily Active Users</div>
                    </div>
                </div>
            </div>
            <a href="/admin-dau">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-slack fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{teams.length}}</div>
                        <div>Slack Teams</div>
                    </div>
                </div>
            </div>
            <a href="/admin-teams">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="subcount">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                        </div>
                        <div>Subscriptions</div>
                    </div>
                </div>
            </div>
            <a href="https://www.braintreegateway.com/login" target="_blank">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="ticketcount">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                        </div>
                        <div>Support Tickets</div>
                    </div>
                </div>
            </div>
            <a href="https://gitlab.com/liscioapps/listmeapp/issues?scope=all&state=opened" target="_blank">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading" id="teamlist">
                <h3>Slack Teams</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each teams}}
                        <tr>
                            <td>
                                <a href="/admin/team/{{this.slackID}}">
                                {{this.slackID}}
                                </a>
                            </td>
                            <td>
                                <a href="/admin/team/{{this.slackID}}">
                                {{this.slackTeamName}}
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Last 100 Items</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Translate</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each stats.lList}}
                        <tr>
                            <td>
                                {{this}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#exampleModal" data-trans="{{this}}">
                                    Translate
                                </button>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Translation</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Source:</label>
                        <input type="text" class="form-control" id="source-text"/>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Result:</label>
                        <input type="text" class="form-control" id="result-text"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnTrans">Translate Again</button>
            </div>
        </div>
    </div>
</div>

{{#section 'endscripts'}}
    <script>
        $( document ).ready(function() {
            //subcount
            $.getJSON("/admin/subs", function(result){
                var obj = jQuery.parseJSON(result.body);
                console.log(obj);
                $("#subcount").html(obj.length);
            });

            //ticketcount
            $.getJSON("/admin/tickets", function(result){
                var obj = jQuery.parseJSON(result.body);
                console.log(obj);
                $("#ticketcount").html(obj.length);
            });
        });

        $('#btnTrans').click(function() {
            $('#result-text').val('_translating_');
            $.post("/admin-trans",  { text: $('#source-text').val() }, function(data, ajResult){
                var resultText = '** there was a problem translating that text...sorry **';
                if (ajResult == 'success') {
                    var data = data.substring(0, data.indexOf(']'));
                    data = data.replace('[[[', '');
                    data = data.replace(',,,', ',');
                    data = data.replace(',,', ',');
                    data = '[' + data + ']';
                    console.log(data);
                    var final = JSON.parse(data);
                    resultText = final[0];
                }

                $('#result-text').val(resultText);
            });
        });

        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var source = button.data('trans') // Extract info from data-* attributes

            var modal = $(this);
            //modal.find('.modal-title').text('New message to ' + recipient)
            //modal.find('.modal-body input').val(recipient)
            $('#source-text').val(source);
            $('#btnTrans').click();
        })
    </script>
{{/section}}