<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Paywall</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading" id="teamlist">
                <h3>Paying</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each teams.paying}}
                        <tr>
                            <td>
                                <a href="/admin/team/{{this}}">
                                {{this}}
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3>Violating</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Team</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each teams.violators}}
                        <tr>
                            <td>
                                <a href="/admin/team/{{this}}">
                                {{this}}
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Translation</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Source:</label>
                        <input type="text" class="form-control" id="source-text"/>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Result:</label>
                        <input type="text" class="form-control" id="result-text"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnTrans">Translate Again</button>
            </div>
        </div>
    </div>
</div>

{{#section 'endscripts'}}
    <script>
        $( document ).ready(function() {
            
        });
    </script>
{{/section}}