<div class="container">
    <h2>Daily Active Stats</h2>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-calendar-check-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{dauinfo.DAU}}</div>
                            <div>Daily Active Users</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-calendar-check-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{dauinfo.MAU}}</div>
                            <div>Monthly Active Users</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{dauinfo.messages}}</div>
                            <div>Messages Processed</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Active?</th>
                </tr>
                </thead>
                <tbody>
                {{#each dauinfo.activeteams}}
                <tr>
                    <td>
                        <a href="/admin/team/{{this.slackID}}">
                        {{this.slackID}}
                        </a>
                    </td>
                    <td>
                        <a href="/admin/team/{{this.slackID}}">
                        {{this.slackTeamName}}
                        </a>
                    </td>
                    <td>{{this.activetoday}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
</div>

{{#section 'endscripts'}}
    <script>
        $( document ).ready(function() {

        });
    </script>
{{/section}}