<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Team {{details.details.slackID}}</h2>
        <h3>{{details.details.slackTeamName}}</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-slack fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{details.details.slackTeamName}}</div>
                        <div>Slack Name</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            {{details.users.length}}
                        </div>
                        <div>All Time Unique Users</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{#if details.paying}}
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-money fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                
                            </div>
                            <div>Paying customer!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-frown-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                
                            </div>
                            <div>Non paying</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Active Months ({{details.history.activeMonths.length}})</h3>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Month</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each details.history.activeMonths}}
                    <tr>
                        <td>{{this}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        {{#if details.paying}}

        {{else}}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3>Months Violating ({{details.history.paywallMonths.length}})</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Month</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each details.history.paywallMonths}}
                        <tr>
                            <td>
                                {{this}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{/if}}
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Translation</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Source:</label>
                        <input type="text" class="form-control" id="source-text"/>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Result:</label>
                        <input type="text" class="form-control" id="result-text"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnTrans">Translate Again</button>
            </div>
        </div>
    </div>
</div>

{{#section 'endscripts'}}
    <script>
        $( document ).ready(function() {
            /*
            $.getJSON("/admin/subs", function(result){
                var obj = jQuery.parseJSON(result.body);
                console.log(obj);
                $("#subcount").html(obj.length);
            });
            */
        });
    </script>
{{/section}}