<div class="container">
    <h2>Monthly Active Stats</h2>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div id="myfirstchart" style="height: 250px;"></div>
        </div>
    </div>

    <div class="row">
            <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Monthly Active Users</th>
                </tr>
                </thead>
                <tbody>
                {{#each mauinfo}}
                <tr>
                    <td>{{this.month}}</td>
                    <td>{{this.count}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
    </div>
</div>

{{#section 'endscripts'}}
    <script>
        $( document ).ready(function() {
            var myVar = {{{json mauinfo}}};
            console.log(myVar);
            new Morris.Line({
            element: 'myfirstchart',
            data: myVar,
            xkey: 'month',
            ykeys: ['count'],
            labels: ['Active Users']
            });

        });
    </script>
{{/section}}