{{> smallnav }}

<div class="container">
    <div class="jumbotron alert-info">
        <h2>Oops!</h2>
        <h3>Something went wrong</h3>
        <p class="alert-danger" style="padding: 20px;">
            Error: <br/><br/>
            {{theerror}}
        </p>
    </div>
</div>

{{> social}}