{{> smallnav }}

<div class="container">
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <div class="page-header">
                <h1>listMe <small>How does it work?</small></h1>
            </div>
            <div class="well well-lg">
                <h4>
                listMe adds a "list" to every conversation you have in Slack.  So if it's a channel, a private group or even a private conversation,
                now everywhere you go in Slack, there's a list waiting for you there.
                </h4>
            </div>
            <br/>
            <div class="text-center hidden-sm hidden-xs">
                <div class="btn-group" role="group">
                    <a href="#add" class="btn btn-default page-scroll">Add an item</a>
                    <a href="#show" class="btn btn-default page-scroll">View the list</a>
                    <a href="#clear" class="btn btn-default page-scroll">Clear the list</a>
                </div>
                <div class="btn-group" role="group">
                    <a href="#done" class="btn btn-default page-scroll">Mark an item complete</a>
                    <a href="#delete" class="btn btn-default page-scroll">Delete an item</a>
                </div>
            </div>
            <br/>
            <div class="panel panel-info" id="add">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">Adding to lists</h3>
                    <div class="pull-right">
                        <span class="label label-success">Basic</span>
                        <span class="label label-primary">Stardard</span>
                        <span class="label label-warning">Enterprise</span>
                    </div>
                </div>
                <div class="panel-body">
                    <p>There are two ways to add to a list in Slack:</p>
                <div class="alert alert-success">
                        <p>To add "<code>Check with Josh about Thursday</code>", just type:</p>
                        <span class="text-muted">></span>&nbsp;&nbsp;<span class="addText"></span>
                </div>
                    </div>
                <!-- List group -->

            </div>
            <div class="panel panel-info" id="show">
                <div class="panel-heading">
                    <h3 class="panel-title">Checking your list</h3>
                    <div class="pull-right">
                        <span class="label label-success">Basic</span>
                        <span class="label label-primary">Stardard</span>
                        <span class="label label-warning">Enterprise</span>
                    </div>
                </div>
                <div class="panel-body">
                    <p>To view all the items on the list:</p>
                    <div class="alert alert-success">
                        <p>To check the items on the list in any channel or conversation, just type:</p>
                        <span class="text-muted">></span>&nbsp;&nbsp;<span class="checkText"></span>
                    </div>
                </div>
            </div>

            <div class="panel panel-info" id="done">
                <div class="panel-heading">
                    <h3 class="panel-title">Marking an item complete</h3>
                    <div class="pull-right">
                        <span class="label label-primary">Stardard</span>
                        <span class="label label-warning">Enterprise</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        <img src="img/list.png" width="350"/>
                    </div>
                    <p>To mark the item <code>Sales leads</code> from the above list complete, we type done #3</p>
                    <div class="alert alert-success">
                        <p>"/list done [# of item]" markes the item specified as complete</p>
                        <span class="text-muted">></span>&nbsp;&nbsp;<span class="doneText"></span>
                    </div>
                </div>
            </div>

            <div class="panel panel-info" id="delete">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">Deleting an item from the list</h3>
                    <div class="pull-right">
                        <span class="label label-success">Basic</span>
                        <span class="label label-primary">Stardard</span>
                        <span class="label label-warning">Enterprise</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        <img src="img/list.png" width="350"/>
                    </div>
                    <p>To delete item <code>Sales leads</code> from the above list, we delete #3</p>
                    <div class="alert alert-success">
                        <p>"/list delete [# of item]" deletes the item specified</p>
                        <span class="text-muted">></span>&nbsp;&nbsp;<span class="deleteText"></span>
                    </div>
                </div>
            </div>

            <div class="panel panel-info" id="clear">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">Clear the list</h3>
                    <div class="pull-right">
                        <span class="label label-success">Basic</span>
                        <span class="label label-primary">Stardard</span>
                        <span class="label label-warning">Enterprise</span>
                    </div>
                </div>
                <div class="panel-body">
                    <p>You can clear the entire list if you would like</p>
                    <div class="alert alert-success">
                        <p>To clear the list:</p>
                        <span class="text-muted">></span>&nbsp;&nbsp;<span class="clearText"></span>
                    </div>
                </div>
            </div>

            <div class="panel panel-info" id="feedback">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">Send Feedback</h3>
                    <div class="pull-right">
                        <span class="label label-success">Basic</span>
                        <span class="label label-primary">Stardard</span>
                        <span class="label label-warning">Enterprise</span>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Send us feedback!</p>
                    <div class="alert alert-success">
                        <p>To send feedback:</p>
                        <span class="text-muted">></span>&nbsp;&nbsp;<span class="feedback"></span>
                    </div>
                </div>
            </div>

            <br/><br/>
            {{> supportform}}
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
</div>

{{#section 'endscripts'}}
    <script>
        $(function(){
            $(".addText").typed({
                strings: [
                    "<code>/list add Check with Josh about Thursday</code>",
                    "or you can just type: ",
                    "<code>/list Check with Josh about Thursday</code>"],
                typeSpeed: 25,
                startDelay: 1000,
                loop: true,
                backSpeed: 0,
                loopCount: false,
                contentType: 'html'
            });
            $(".checkText").typed({
                strings: [
                    "<code>/list</code> and hit <kbd>Enter</kbd>",
                    "listMe will show everyone the list"],
                typeSpeed: 25,
                startDelay: 1000,
                loop: true,
                backSpeed: 0,
                loopCount: false,
                contentType: 'html'
            });
            $(".doneText").typed({
                strings: [
                    "<code>/list done 3</code> and hit <kbd>Enter</kbd>",
                    "will strike out \"3) <strike>Sales leads</strike>\" in the list"],
                typeSpeed: 25,
                startDelay: 1000,
                loop: true,
                backSpeed: 0,
                loopCount: false,
                contentType: 'html'
            });
            $(".deleteText").typed({
                strings: [
                    "<code>/list delete 3</code> and hit <kbd>Enter</kbd>",
                    "will delete \"3) Sales leads\" from the list"],
                typeSpeed: 25,
                startDelay: 1000,
                loop: true,
                backSpeed: 0,
                loopCount: false,
                contentType: 'html'
            });
            $(".clearText").typed({
                strings: [
                    "<code>/list clear</code> and hit <kbd>Enter</kbd>",
                    "will delete all the items from the list"],
                typeSpeed: 25,
                startDelay: 1000,
                loop: true,
                backSpeed: 0,
                loopCount: false,
                contentType: 'html'
            });
            $(".feedback").typed({
                strings: [
                    "<code>/list @feedback looking good guys - can you add more cats?</code> and hit <kbd>Enter</kbd>",
                    "will send us a comment"],
                typeSpeed: 25,
                startDelay: 1000,
                loop: true,
                backSpeed: 0,
                loopCount: false,
                contentType: 'html'
            });
        });
    </script>
{{/section}}