{{> topnav }}

<header>
    <div class="container">
        <div class="row sample-height">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>
                            <strong>listMe</strong> is the app that<br/>gets work
                            <a class="btn btn-lg btn-success btn-outline" data-toggle="modal" data-target="#vid-modal"><strong>done.</strong></a><br/>
                            <span class="lead">All without leaving Slack</span>
                        </h1>
                        {{> addtoslackbtn}}
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen" id="topscreen">
                                <div class="slacktop">
                                    <div class="row">
                                        <div class="col-xs-2" >
                                            <img src="img/slack-icon.png" class="img-responsive"/>
                                        </div>
                                        <div class="col-xs-7">
                                            <span class="pull-left">
                                                @zach <i class="fa fa-circle fa-align-right text-success" style="font-size: 50%;"></i>
                                            </span>
                                        </div>
                                        <div class="col-xs-3">
                                            <span class="pull-right">
                                                <i class="fa fa-search text-muted"></i>
                                                &nbsp;
                                                <i class="fa fa-ellipsis-v text-muted"></i>
                                                &nbsp;
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="slackmessages" id="slackmsgcont">
                                    <ul class="media-list">
                                        <div class="slackitems">
                                        {{#each slackitems}}
                                            {{> slackitem this }}
                                        {{/each}}
                                        </div>
                                        <br/><br/><br/><br/>
                                    </ul>
                                </div>
                                <div class="form-group slacktextcontainer">
                                    <div class="input-group">
                                        <div class="input-group-addon">+</div>
                                        <input type="text" class="form-control slacktext"/>
                                    </div>
                                </div>
                            </div>
                            <div class="button" data-toggle="modal" data-target="#vid-modal">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<section id="install" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Power up your team</h2>
                <p>Keep lists of to-dos, discussion topics, or ideas with each person you chat with in Slack!
                </p>
                <div class="badges">
                    {{> addtoslackbtn}} <br/><br/>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-2">
                <p>Teams all over the world are use listMe!</p>
            </div>
            <div class="col-md-2">
                <a href="http://ascensionpress.com/" target="_blank">
                    <img src="img/customers/Ascension_Press.png" width="150"/>
                </a>
            </div>
            <div class="col-md-2">
                <a href="http://marriott.com" target="_blank">
                    <img src="img/customers/logo-marriott-markonleft-2x.png" width="150"/>
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://www.matchcraft.com/" target="_blank">
                    <img src="img/customers/nav_logo.png" width="150"/>
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://boldfoot.com" target="_blank">
                    <img src="img/customers/socks.png" width="150"/>
                </a>
            </div>
            <div class="col-md-2">
                <a href="http://www.northhighland.com/" target="_blank">
                    <img src="img/customers/logo-white.png" width="150"/>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Intuitive &middot;
                        Fast &middot;
                        Done
                    </h2>
                    <p class="text-muted">Easy to use, simple to manage</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="img/still_convo2.png" class="img-responsive" alt=""> </div>
                            <div class="button" data-toggle="modal" data-target="#vid-modal">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-plus text-primary"></i>
                                <h3>Quickly Add Items</h3>
                                <p class="text-muted">Add items as quickly as you can think of them.  Just type /list and item.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-people text-primary"></i>
                                <h3>Built into Conversations</h3>
                                <p class="text-muted">Every channel, group &amp; private conversation has a list built in.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-check text-primary"></i>
                                <h3>Get Things Done</h3>
                                <p class="text-muted">Quickly cross items off your list one by one or clear the entire list</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-rocket text-primary"></i>
                                <h3>Start Today for Free</h3>
                                <p class="text-muted">Use listMe free for 30 days, and then just $10 a month.  Cancel anytime.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <span class="btn btn-lg btn-primary" data-toggle="modal" data-target="#vid-modal" style="padding: 25px;"><strong>How it works</strong></span>
                </div>
            </div>
        </div>
        </div>
</section>

<section id="cta" class="cta">
    <div class="cta-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Stop waiting.<br>Start doing.</h2>
                    <a href="#install" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>
                </div>
                <div class="col-md-6">
                    <h2>Manage your account<br></h2>
                    <a href="https://slack.com/oauth/authorize?client_id=70109410515.83017068224&scope=identity.basic&redirect_uri=https%3A%2F%2Fwww.listme.chat%2Fapi%2Fslacksignin">
                        <img src="https://platform.slack-edge.com/img/sign_in_with_slack.png"
                             srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>

<!-- Modal -->
<div class="modal fade" id="betaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Welcome to the listMe Beta! <img width="40" src="img/icon-2.png"/></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">
                        <h4>Thank you so much for trying our beta.</h4>
                        To get started, enter your invite code below and click <kbd>Done</kbd>.<br/><br/>
                        Then just click <kbd>Add to Slack</kbd> to confirm your Slack account and you're all set!
                    </div>
                    <div class="col-md-5">
                        <img src="https://media.giphy.com/media/d2Z9QYzA2aidiWn6/giphy.gif" class="img-responsive img-rounded"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <label for="betacode" class="pull-left">Beta Invite Code</label>
                    <input type="text" class="form-control" id="betacode" name="betacode" placeholder="ABCXYZ123"/>
                </div>
                <button type="button" class="btn btn-success" id="btnBetadone" name="btnBetadone">Done</button>
            </div>
        </div>
    </div>
</div>

{{> social}}

<div class="modal fade hunt-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">What the heck is this?</h4>
                <span class="text-center">
                <img src="img/donthunt.png" width="120" class="pull-right"/>
                    </span>
            </div>
            <div class="modal-body">
                <p>
                    The "Plz don't hunt me yet" badge is for users of the app discovery network <a href="https://www.producthunt.com/">Product Hunt</a>.
                For apps like listMe that are still in public beta, it can tell product hunters to wait to list the app on Product Hunt until the makers are ready for the demand and scale that entails.
                </p>
                <p>
                    While we love listMe and we think it's great, we want to be sure our users love it before scaling it to "astronomical" size with a listing like Product Hunt.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="vid-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">How listMe works</h2>
            </div>
            <div class="modal-body text-center">
                <iframe id="ytplayer" type="text/html" width="640" height="390"
                        src="https://www.youtube.com/embed/Db-KKHUp7oo?version=3&enablejsapi=1"
                        frameborder="0" class="vid-class embed-responsive-item">
                </iframe>
                <br/><br/>
                <a href="https://youtu.be/Db-KKHUp7oo" class="text-muted" target="_blank">Don't see the video?  Click here to go to YouTube.</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

{{#section 'endscripts'}}
    <script>
        $('#vid-modal').on('hide.bs.modal', function () {
            $('#ytplayer')[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
        });
        $('#vid-modal').on('shown.bs.modal', function () {
            $('#ytplayer')[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*');
        });

        $( document ).ready(function() {
            if (window.location.search.indexOf("beta") > 0 ) {
                $('#betaModal').modal('show')
            }

            $("#btnBetadone").click(function(){
                var code = $("#betacode").val();
                $.post("/api/beta-accept",  { code: code }, function(data, status){
                });
                $('#betaModal').modal('hide')
            });

            $(window).resize(function() {
                var bodyheight = $(this).height();
                var bodywidth = $(this).width();
                var rowheight = $(".sample-height").height();
                var devicewidth = $(".device").height();
                //$(".screen").height(100%);
                if (bodywidth > 767 && bodywidth < 992 && bodyheight < 600) {
                    $("#topscreen").height(rowheight - 165);
                }
                if (bodywidth > 991 && bodyheight < 766) {
                    $("#topscreen").height(rowheight - 187);
                }
                if (bodywidth > 1199 && bodyheight < 910) {
                    $("#topscreen").height(rowheight - 206);
                }
                if (bodywidth < 768 || bodyheight > 901) {
                    $("#topscreen").height("auto");
                }

                scrollBottom();
            }).resize();

            function step1() {
                console.log("step1");
                $('.slacktext').autotype("Hey I'm going to add to the list for today.", {delay: 30});
            }

            function step2() {
                console.log("step2");
                $('.slacktext').val("");
            }

            function step3() {
                console.log("step3");
                $('.slackitems').append(slackItemText("Eric", "eric.jpg", "Hey I'm going to add to the list for today.", "8:17 am"));
                scrollBottom();
            }

            function step4() {
                console.log("step4");
                $('.slackitems').append(slackItemText("Zach", "zach.jpg", "Okay sounds good.", "8:17 am"));
                scrollBottom();
            }

            function step5() {
                console.log("step5");
                $('.slacktext').autotype("/list Training for next week", {delay: 40});
            }

            function step6() {
                console.log("step6");
                $('.slacktext').val("");
            }

            function step7() {
                console.log("step7");
                $('.slackitems').append(slackItemText("listMe", "icon-2.png", "@eric added 'Training for next week' to the list <br\>", "8:17 am"));
                scrollBottom();
            }

            function step51() {
                console.log("step61");
                $('.slacktext').autotype("/list Bonuses for the team", {delay: 40});
            }

            function step61() {
                console.log("step61");
                $('.slacktext').val("");
            }

            function step71() {
                console.log("step71");
                $('.slackitems > li > div.media-body > div.slackmsg').last().append("@eric added 'Bonuses for the team' to the list <br\>");
                scrollBottom();
            }

            function step52() {
                console.log("step52");
                $('.slacktext').autotype("/list Sales leads to Salesforce", {delay: 40});
            }

            function step62() {
                console.log("step62");
                $('.slacktext').val("");
            }

            function step72() {
                console.log("step72");
                $('.slackitems > li > div.media-body > div.slackmsg').last().append("@eric added 'Sales leads to Salesforce' to the list <br\>");
                scrollBottom();
            }

            function step53() {
                console.log("step53");
                $('.slacktext').autotype("/list Roadmap for next quarter", {delay: 40});
            }

            function step63() {
                console.log("step63");
                $('.slacktext').val("");
            }

            function step73() {
                console.log("step73");
                $('.slackitems > li > div.media-body > div.slackmsg').last().append("@eric added 'Roadmap for next quarter' to the list <br\>");
                scrollBottom();
            }

            function step101() {
                console.log("step101");
                $('.slackitems').append(slackItemText("Zach", "zach.jpg", "Great!  Anything else?", "8:18 am"));
                scrollBottom();
            }

            function step102() {
                console.log("step102");
                $('.slacktext').autotype("I think that's it.", {delay: 40});
            }

            function step103() {
                console.log("step103");
                $('.slacktext').val("");
            }

            function step104() {
                console.log("step104");
                $('.slackitems').append(slackItemText("Eric", "eric.jpg", "I think that's it.", "8:18 am"));
                scrollBottom();
            }

            function step201() {
                console.log("step201");
                $('.slacktext').autotype("/list", {delay: 40});
            }

            function step202() {
                console.log("step202");
                $('.slacktext').val("");
            }

            function step203() {
                console.log("step203");
                var thelist = "";
                thelist += "1) Training for next week <br\>";
                thelist += "2) Bonuses for the team <br\>";
                thelist += "3) Sales leads to Salesforce <br\>";
                thelist += "4) Roadmap for next quarter <br\>";
                $('.slackitems').append(slackItemText("listMe", "icon-2.png", thelist, "8:18 am"));
                scrollBottom();
            }

            var funcs = [
                { func: step1, delay: 2200 },
                { func: step2, delay: 500 },
                { func: step3, delay: 3500 },
                { func: step4, delay: 2000 },
                { func: step5, delay: 2500 },
                { func: step6, delay: 500 },
                { func: step7, delay: 1000 },
                { func: step51, delay: 2500 },
                { func: step61, delay: 500 },
                { func: step71, delay: 500 },
                { func: step52, delay: 2500 },
                { func: step62, delay: 500 },
                { func: step72, delay: 500 },
                { func: step53, delay: 2500 },
                { func: step63, delay: 500 },
                { func: step73, delay: 2000 },
                { func: step101, delay: 2000},
                { func: step102, delay: 2500 },
                { func: step103, delay: 500 },
                { func: step104, delay: 1000 },
                { func: step201, delay: 1000 },
                { func: step202, delay: 500 },
                { func: step203, delay: 1000 }
            ];

            var i = 0;

            function callFuncs() {
                var delay = funcs[i].delay;
                funcs[i++].func();
                if (i < funcs.length) setTimeout(callFuncs, delay);
            }

            function scrollBottom() {
                var objDiv = document.getElementById("slackmsgcont");
                objDiv.scrollTop = objDiv.scrollHeight;
            }

            setTimeout(callFuncs, 1000);
        });
    </script>
{{/section}}
