{{> smallnav }}

<section id="signup" class="features" style="padding-top: 20px !important; height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="">
                    <h2>You're almost there!
                    </h2>
                    <p class="text-muted">Your 30-day free trial starts today. <br/>
                        Click below to complete you sign up with PayPal or any major credit card. <br/>
                        Cancel anytime...no questions asked.
                    </p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="teamid" value="{{team.team_id}}">
                    <input type="hidden" name="teamname" value="{{team.team}}">
                    <input type="hidden" name="signupuser" value="{{team.user}}">
                    <input type="hidden" name="signupuserid" value="{{team.user_id}}">
                    <input type="hidden" name="hosted_button_id" value="JWJRYD6EYYRY4">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit"
                           alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>
</section>