{{> topnav }}

<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>
                            <strong>listMe</strong> is the app that<br/>gets work <span class="btn btn-lg btn-success btn-outline"><strong>done.</strong></span><br/>
                            <span class="lead">All without leaving Slack</span>
                        </h1>
                        {{> addtoslackbtn}}
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
                                <img src="img/demo-screen-1.jpg" class="img-responsive" alt="">
                                -->
                                <img src="img/still_convo2.png" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="install" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Power up your team</h2>
                <p>Keep track of simple lists with each of your channels, groups or team members.
                    Simple and easy to use, listMe is the Slack app you've been waiting for.
                </p>
                <div class="badges">
                    {{> addtoslackbtn}}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Intuitive &middot;
                        Fast &middot;
                        Done
                    </h2>
                    <p class="text-muted">Easy to use, simple to manage</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="img/still_convo2.png" class="img-responsive" alt=""> </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-plus text-primary"></i>
                                <h3>Quickly Add Items</h3>
                                <p class="text-muted">Add items as quickly as you can think of them.  Just type /list and item.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-people text-primary"></i>
                                <h3>Built into Conversations</h3>
                                <p class="text-muted">Every channel, group &amp; private conversation has a list built in.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-check text-primary"></i>
                                <h3>Get Things Done</h3>
                                <p class="text-muted">Quickly cross items off your list one by one or clear the entire list</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-rocket text-primary"></i>
                                <h3>Start Today for Free</h3>
                                <p class="text-muted">Use listMe free for 30 days, and then just $10 a month.  Cancel anytime.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>

<section id="cta" class="cta">
    <div class="cta-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Stop waiting.<br>Start doing.</h2>
                    <a href="#install" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>
                </div>
                <div class="col-md-6">
                    <h2>Manage your account<br></h2>
                    <a href="https://slack.com/oauth/authorize?client_id=70109410515.83017068224&scope=identity.basic&redirect_uri=https%3A%2F%2Fwww.listme.chat%2Fapi%2Fslacksignin">
                        <img src="https://platform.slack-edge.com/img/sign_in_with_slack.png"
                             srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>

{{> social}}
