{{> smallnav }}

<div class="container">
    <div class="jumbotron alert-warning">
        <h1>Aw snap...something went wrong</h1>
        <p>We're so sorry, but something went wrong in the order process.</p>
        <p>Unfortunately you'll need to reauthorize listMe with Slack to continue (I know, I know...)</p>
        <div class="text-center">
            <a class="zoom" href="https://slack.com/oauth/authorize?scope=commands&client_id=70109410515.83017068224">
                <img alt="Add to Slack" width="220" src="img/addtoslack.png" srcset="img/addtoslack.png" /></a>
        </div>
        <br/><br/>
        <div class="text-muted">If the issue continues, please contact us so we can help out...or we can just fix it <i class="fa fa-frown-o" aria-hidden="true"></i></div>
    </div>
</div>

{{> social}}