{{> smallnav}}

<div class="container">
    <h1>Privacy Policy</h1>
    <p>
    This policy reflects our commitment to our customer’s privacy and our desire to only collect and store information required to provide
        listMe services to them.
        All listMe services are governed by the Terms of Service which can be found <a href="/terms">here</a>.
    </p>

    <h2>What data do we collect and store?</h2>
    <p>When you subscribe to listMe, we collect information about your slack team including the name and domain of the team as well as your user ID
        and e-mail address.  In addition, using secure methods, we send your credit card information to our payment processor for storage.</p>
    <p>In addition, we collect the information you send to the “/list” command including the list items you add only as long
        as you keep your account with us. Any items you delete from your lists are removed from our servers immediately.</p>

    <h2>How do we use the information we collect?</h2>
    <p>We will only use the information we collect and store for the purposes of providing the listMe services to
        you or to send occasional company and product announcements to our customers.
        The only time we will use any information for other purposes, it will be de-identified and aggregated so as to be anonymous.
        The purposes of such aggregation will be to improve the listMe services or provide aggregated information about usage.</p>
    <p>We will never sell, exchange, transfer or otherwise give your information to any other company without your consent other than
        for the purposes described above and to those third party companies mentioned below.</p>

    <h2>How do we protect the information we collect?</h2>
    <p>We will take reasonable steps to protect the information we collect, including using SSL throughout
        our entire site and for all transactions.  Your credit card and other payment information are only stored by our payment processor,
        Braintree, which is a Level 1 PCI DSS compliant service provider powered by PayPal.</p>

    <h2>Do we use cookies?</h2>
    <p>Currently only for snacking.  If we change that, we’ll update this policy.</p>

    <h2>What third parties are involved?</h2>
    <ul>
        <li><p><strong>Web Hosting:</strong>
            Heroku is used as our main hosting provider. Their privacy policy is available here: <a href="https://www.heroku.com/policy/privacy">https://www.heroku.com/policy/privacy</a>.</p></li>
        <li><p><strong>Additional web services:</strong>
            Additional web services are provided by Amazon AWS.  Their privacy policy is available here: <a href="https://aws.amazon.com/privacy/">https://aws.amazon.com/privacy/</a>.</p></li>
        <li><p><strong>Payment processing:</strong>
            All payment processing is done through Braintree, a PayPal company.  Their privacy policy is available here: <a href="https://www.paypal.com/us/webapps/mpp/ua/privacy-full">https://www.paypal.com/us/webapps/mpp/ua/privacy-full</a>.</p></li>
    </ul>

    <h2>Your consent</h2>
    <p>By using our service, you consent to the data collection described herein.
        If you do not consent to this collection, do not provide any of your information to our service.
        If at anytime you wish to revoke this consent, please e-mail <a href="mailto:support@listme.chat">support@listme.chat</a>.</p>

    <h2>Changes</h2>
    <p>This policy was last updated on Thursday October 8, 2016.  Any changes to this policy will be available here.</p>

</div>