{{> smallnav }}

<div class="container">
    <!-- Plans -->
            <div class="row" id="plans">
                <h1>Please select a Plan...</h1>
                <!-- item -->
                <div class="col-md-4">
                    <h3>&nbsp;</h3>
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading text-center">
                            <i class="icon-heart h3"></i>
                            <h3>Basic</h3>
                        </div>
                        <div class="panel-body text-center">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="GAYVN28FCHLKC">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>
                            <small>
                                To help keep the servers spinning 
                                <i class="fa fa-desktop"></i>
                                <i class="fa fa-spinner fa-spin"></i>
                            </small>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fa fa-check"></i> Personal &amp; small team use</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Unlimited lists</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Unlimited items</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-success" href="/success">
                                Free
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4">
                    <div class="panel panel-primary panel-pricing">
                        <h3 class="text-center">Most popular option</h3>
                        <div class="panel-heading text-center">
                            <i class="icon-organization h3"></i>
                            <h3>Standard</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$2.99 / month</strong></p>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fa fa-check"></i> All of the features from Basic, <b>plus...</b></li>
                            <li class="list-group-item"><i class="fa fa-plus text-primary"></i> Teams of 6 - 50 users</li>
                            <li class="list-group-item"><i class="fa fa-plus text-primary"></i> Strike out items as complete</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-primary" href="/subscribe?planID=rmgm&teamID={{team.team_id}}&userID={{team.user_id}}&clientT={{clientT.token}}&team={{team.team}}&user={{team.user}}&cost=2.99">
                                Start 14-day free trial
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4">
                    <h3>&nbsp;</h3>
                    <div class="panel panel-warning panel-pricing">
                        <div class="panel-heading text-center">
                            <i class="icon-globe h3"></i>
                            <h3>Enterprise</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$10 / Month</strong></p>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fa fa-check"></i> All of the features from Standard, <b>plus...</b></li>
                            <li class="list-group-item"><i class="fa fa-plus text-primary"></i> Large Teams of 50+</li>
                            <li class="list-group-item"><i class="fa fa-plus text-primary"></i> Priority support</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-warning" href="/subscribe?planID=38rm&teamID={{team.team_id}}&userID={{team.user_id}}&clientT={{clientT.token}}&team={{team.team}}&user={{team.user}}&cost=10">
                                Start 14-day free trial
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>
    <!-- /Plans -->
    <br/><br/>
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8 text-center text-muted">
            <a href="/terms" target="_blank">Terms of Service</a>
            &nbsp; &nbsp; &nbsp;
            <a href="/privacy" target="_blank">Privacy Policy</a>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
    <br/><br/><br/><br/>
</div>

{{#section 'endscripts'}}
    <script>
        
    </script>
{{/section}}