{{> smallnav }}

<div class="container">
    <div class="jumbotron alert-warning">
        <h1>We're sorry to see you go!</h1>
        <p>We've successfully canceled your subscription, but would love to ask you one more favor...could you fill out this one question surey about listMe?
            It would really help us make our product the best it can be.</p>
        <div class="text-center">
            <div id="wufoo-z13ck3d30s2tjsr">
                Fill out my <a href="https://liscio.wufoo.com/forms/z13ck3d30s2tjsr">online form</a>.
            </div>
            <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">The easy to use <a href="http://www.wufoo.com/form-builder/">Wufoo form builder</a> helps you make forms easy, fast, and fun.</div>
            <script type="text/javascript">var z13ck3d30s2tjsr;(function(d, t) {
                var s = d.createElement(t), options = {
                    'userName':'liscio',
                    'formHash':'z13ck3d30s2tjsr',
                    'autoResize':true,
                    'height':'395',
                    'async':true,
                    'host':'wufoo.com',
                    'header':'show',
                    'ssl':true};
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function() {
                    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                    try { z13ck3d30s2tjsr = new WufooForm();z13ck3d30s2tjsr.initialize(options);z13ck3d30s2tjsr.display(); } catch (e) {}};
                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
            })(document, 'script');</script>

        </div>
    </div>
</div>

{{> social}}