{{> smallnav }}

<div class="container">
    <div class="row">
        <div class="hidden-xs col-md-3">&nbsp;</div>
        <div class="col-md-6 text-center">
            <h2>You're almost there!</h2>
            <ul class="list-group">
                <li class="list-group-item bg-primary"><h4 class="list-group-item-heading">
                    <i class="icon-rocket"></i>
                    Your 14-day free trial starts today!
                </h4></li>
                <li class="list-group-item"><h4 class="list-group-item-heading">
                    <i class="icon-credit-card"></i>
                    ${{cost}} / month
                </h4></li>
                <li class="list-group-item"><h4 class="list-group-item-heading">
                    <i class="icon-close text-danger"></i>
                    Cancel anytime...no questions asked.
                </h4></li>
            </ul>
        </div>
        <div class="hidden-xs col-md-3">&nbsp;</div>
    </div> 
    <div id="ccform" class="row">
        <div class="hidden-xs col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-success credit-card-box">
                <div class="panel-heading" >
                    <h3 class="panel-title display-td">
                        <i class="fa fa-lock text-warning"></i> Secure Checkout
                    </h3>
                </div>
                <div class="panel-body">
                    <form id="checkout" method="post" action="/checkout" autocomplete="off">
                        <div id="payment-form" class="form-group"></div>
                        <input type="hidden" name="teamname" value="{{team.team}}">
                        <input type="hidden" name="signupuser" value="{{team.user}}">
                        <input type="hidden" name="signupuserid" value="{{team.user_id}}">
                        <input type="hidden" class="form-control" name="teamid" value="{{team.team_id}}">
                        <input type="hidden" class="form-control" name="subid" value="{{planID}}"/>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="E-mail Address *" name="email" />
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="submit" class="subscribe btn btn-success btn-lg btn-block" value="Start Subscription">
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer text-center">
                    <span class="text-muted">Learn more about our credit card and PCI security</span>
                    <br/>
                    <a href="https://www.braintreegateway.com/merchants/g3753jghx4xtgwgt/verified" target="_blank">
                        <img src="https://s3.amazonaws.com/braintree-badges/braintree-badge-dark.png" width="164px" height ="44px" border="0"/>
                    </a>
                </div>
            </div>
            <div class="text-left text-muted">
                <sup>*</sup> Used for receipts and very very occasional e-mails from Liscio.  <a href="/privacy">Read our privacy policy here</a>.
            </div>
            <!-- CREDIT CARD FORM ENDS HERE -->
            <br/>
        </div>
        <div class="hidden-xs col-md-3">
            &nbsp;
        </div>
    </div>
</div>

<div>
    <script src="https://js.braintreegateway.com/js/braintree-2.29.0.min.js"></script>
    <script>
        clientToken = "{{clientT.token}}";
        clientToken = clientToken.replace(new RegExp('&#x3D;', 'g'), '=');

        braintree.setup(clientToken, "dropin", {
            container: "payment-form",
            paypal: {
                button: {
                    type: 'checkout'
                }
            }
        });
    </script>
</div>
