{{> smallnav }}

<div class="container">
    <div class="row">
        <div class="alert alert-success text-center">
            <h1>You're all set!</h1>
            <h4>listMe is installed and ready to use in Slack <strong class="text-success">right now</strong>. Jump over to Slack and start making lists with your colleagues today!</h4>

        </div>
        <h3 class="text-center alert alert-info">
            Then type <code>/list [Your Item]</code> anywhere in slack to start, for more information...<br/><br/>
            <a href="#" class="btn btn-success btn-lg" data-toggle="modal" data-target="#vid-modal">Click here to watch an quick intro video</a>
        </h3>
    </div>
    <br/><br/>
    <div class="modal fade" id="vid-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Getting started with listMe</h2>
                </div>
                <div class="modal-body text-center">
                    <iframe id="ytplayer" type="text/html" width="640" height="390"
                            src="https://www.youtube.com/embed/Db-KKHUp7oo?version=3&enablejsapi=1"
                            frameborder="0" class="vid-class embed-responsive-item">
                    </iframe>
                    <br/><br/>
                    <a href="https://youtu.be/Db-KKHUp7oo" class="text-muted" target="_blank">Don't see the video?  Click here to go to YouTube.</a>
                </div>
                <div class="modal-footer">
                    <a href="/help" type="button" class="btn btn-success">See all commands</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
</div>

{{> social}}

{{#section 'endscripts'}}
    <script>
        $('#vid-modal').on('hide.bs.modal', function () {
            $('#ytplayer')[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
        });
        $('#vid-modal').on('shown.bs.modal', function () {
            $('#ytplayer')[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*');
        });
    </script>
{{/section}}