{{> smallnav}}

<div class="container">
    <h2>Last Update: 10/25/2016</h2>
    <h3>Terms of Service</h3>
    <h5>These terms outline the use of our website and the listMe services provided herein.
        By using this website or the listMe services, you agree to be bound by all the terms contained here.
        If you do not consent to these terms in part or in full, you may not use the website or listMe services.
        The Terms of Service will be referred to throughout as either the Terms, the Terms of Service or simply the Agreement.</h5>

    <h3>Definitions</h3>
    <h4>For the purposes of this Agreement, the following terms will apply:</h4>
    <ul class="list-unstyled">
        <li><h5>“Licensor” means listMe and its parent company Liscio, its employees, agents or contractors;</h5></li>
        <li><h5>“Customer” means any user of the website or the listMe services including but not limited to any users of your Slack
            instance as well as anyone you allow to have access to the website or listMe;</h5></li>
        <li><h5>“Parties” collectively or separately the Licensor or Customer can be referred to as “the Parties” or “a party”;</h5></li>
        <li><h5>"Website" means all web traffic, HTTP pages and other web content on www.listme.chat or www.liscio.com;</h5></li>
        <li><h5>“Software” means the website and listMe services in their entirety.</h5></li>
    </ul>

    <h3>License</h3>
    <h5>Licensor grants Customer a personal, worldwide, royalty-free, non-assignable and non-exclusive
        license to use the Software as allowed by this Agreement.</h5>

    <h5>Customer acknowledges and agrees that only Licensor shall have the right to alter,
        maintain, enhance or otherwise modify the Software.  Customer shall not disassemble, attempt to disassemble,
        de-compile, reverse engineer or attempt to reverse engineer the website or any part of the Software.</h5>

    <h5>Under no circumstances will the Customer distribute, copy,
        re-distribute or otherwise attempt to cause any third party to use the Software, website or any part thereof.</h5>

    <h3>Ownership</h3>
    <h5>Customer acknowledges and agrees that Licensor owns all rights:
        including but not limited to patent, copyright, trade secret, trademark and other proprietary rights,
        in and to the Software and any corrections, bug fixes, enhancements, updates or other modifications, including custom modifications, to the Software, whether made by Licensor or any third party.</h5>
    <h5>Ownership of any logo, trade name, or other artwork created by Customer will remain property of the customer.  However, Licensor reserves the right to use the Customer's logo, trademark, name and corporate information for the purposes of marketing listMe.
        Customer grants to Licensor a worldwide, royalty-free, non-exclusive license to use Customer's corporate logo and/or trade name for this purpose.  Customer shall retain the right in each instance to deny such use by notifying Licensor in writing.</h5>

    <h3>Acceptable Use Policy</h3>
    <h4>Customer will not use the Software for:</h4>
    <ul class="list-unstyled">
        <li><h5>any illegal purpose or to encourage or to aid anyone with any illegal activity</h5></li>
        <li><h5>any unlawful, invasive, abusive, defamatory or fraudulent purposes</h5></li>
        <li><h5>to store, copy, distribute or attempt to distribute any malicious code including virus, worms, Trojan horses, back door software, hoaxes or of any other destructive nature as determined by the sole discretion of the Licensor</h5></li>
        <li><h5>to interfere or attempt to interfere with the website or the services, or any other part of the Software or the websites or services of any third part</h5></li>
        <li><h5>to conduct any scraping or systematic data collection of part or any of the Software</h5></li>
        <li><h5>to send or transmit or aid in the transmission of any unsolicited marketing or other materials of any kind</h5></li>
    </ul>

    <h3>Term and Termination</h3>
    <h5>The term of this Agreement continues month to month until such time that the Agreement is canceled.</h5>

    <h3>Suspension of Agreement by Licensor</h3>
    <h5>Licensor reserves the right to suspend a Customer’s account and use of the Software for non-payment, violations of any law or violations of any part of this Agreement.</h5>

    <h3>Termination for Convenience</h3>
    <h5>Customer may terminate this Agreement at any time upon 30 days notice to the Licensor.  At the time of termination, Customer agrees to halt use of the Software.  Licensor may terminate this Agreement at any time</h5>

    <h3>Effect of Termination</h3>
    <h5>In the event that this Agreement is terminated for any reason,
        then (i) all rights and licensees granted herein are immediately revoked and all obligations of the parties to each other
        immediately cease except as described in this section;
        (ii) any and all fees for service owed by the Customer to the Licensor will immediately become payable;
        (iii) Customer will cease all use of the Software and website.</h5>

    <h3>Warranties and Limitations</h3>
    <h5>Each party represents and warrants that: (a) it has full power and authority to enter into the Agreement; and (b) it will comply with all laws and regulations applicable to its provision, or use, of the Services, as applicable.</h5>
    <h5>EXCEPT AS EXPRESSLY STATED THIS AGREEMENT, LICENSOR DOES NOT MAKE ANY OTHER WARRANTY OF ANY KIND,
        WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR USE AND NONINFRINGEMENT.
        LICENSOR IS NOT RESPONSIBLE OR LIABLE FOR THE DELETION OF OR FAILURE TO STORE ANY CUSTOMER DATA AND OTHER COMMUNICATIONS MAINTAINED OR TRANSMITTED THROUGH USE OF THE SOFTWARE. LICENSOR DOES NOT WARRANT THAT THE OPERATION OF THE SOFTWARE OR THE SERVICES WILL BE ERROR-FREE OR UNINTERRUPTED. NEITHER THE SOFTWARE NOR THE SERVICES ARE DESIGNED, MANUFACTURED, OR INTENDED FOR HIGH RISK ACTIVITIES.</h5>

    <h3>Modification</h3>
    <h5>Licensor reserves the right, at its sole discretion to modify, discontinue, terminate or replace this Agreement and the Terms of Service at anytime without prior notice.  Any such changes will be contained at this address, and the last updated date will be updated to reflect the date of the change.</h5>

    <h3>Limitation Period</h3>
    <h5>No arbitration or other action under this Agreement, unless involving death or personal injury,
        may be brought by either party against the other more than one (1) year after the cause of action arises.</h5>

    <h3>Limitation of Damages</h3>
    <h5>Licensor shall not be liable to Customer for indirect, special, incidental,
        exemplary or consequential damages (including, without limitation, lost profits) related to this
        Agreement or resulting from Customer's use or inability to use the Software, arising from any cause of action whatsoever,
        including contract, warranty, strict liability, or negligence, even if Licensor has been notified of the possibility of such damages.
        Under no circumstances shall the liability of Licensor to Customer exceed the amounts paid by Customer to Licensor under the previous 12 months
        of this Agreement.</h5>

    <h3>Additional Provisions</h3>
    <ul class="list-unstyled">
        <li>
            <h4>Indemnification</h4>
            <h5>Unless prohibited by law, Customer will defend, indemnify and hold harmless Licensor, its agents, employees
                and principles against Indemnified Liabilities in any Third-Party Legal Proceeding to the extent arising from:
                (i) any improper use of the Software in violation of this Agreement or the Acceptable Use Policy.</h5>
        </li>
        <li>
            <h4>Entire Agreement</h4>
            <h5>The parties agree that this Agreement is the complete and exclusive statement of the agreement between the parties,
                which supersedes and merges all prior proposals, understandings and all other agreements, oral or written, between the
                parties relating to this Agreement.</h5>
        </li>
        <li>
            <h4>Force Majeure</h4>
            <h5>Neither party shall be in default or otherwise liable for any delay in or failure of its performance
                under this Agreement if such delay or failure arises by any reason beyond its reasonable control, including any act of God,
                any acts of the common enemy, the elements, earthquakes, floods, fires, epidemics, riots, failures or delay in transportation or
                communications, or any act or failure to act by the other party or such other party's employees, agents or contractors; provided,
                however, that lack of funds shall not be deemed to be a reason beyond a party's reasonable control.</h5>
        </li>
        <li>
            <h4>Governing Law</h4>
            <h5>This Agreement shall be governed by the laws of the State of Maryland.</h5>
        </li>
        <li>
            <h4>Arbitration</h4>
            <h5>The parties shall settle any controversy arising out of this Agreement by arbitration in the state of Maryland in accordance with the rules of the American Arbitration Association.</h5>
        </li>
    </ul>

    <br/><br/>
</div>