<div class="container">
    <h1>Such slack</h1>
    <h2>Very sign in</h2>
    <a href="https://slack.com/oauth/authorize?client_id=70109410515.83017068224&scope=identity.basic&redirect_uri=https%3A%2F%2Fwww.listme.chat%2Fapi%2Fslacksignin">
    <img src="https://platform.slack-edge.com/img/sign_in_with_slack.png"
         srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
    </a>
</div>