{{> smallnav }}

<div class="container text-center">

    <iframe id="ytplayer" type="text/html" width="640" height="390"
            src="https://www.youtube.com/embed/Db-KKHUp7oo?version=3&enablejsapi=1&autoplay=1"
            frameborder="0" class="vid-class embed-responsive-item">
    </iframe>
</div>

{{> social}}