a.zoom:hover{
    opacity:1;
}
a.zoom img{
    transition:.2s;
}
a.zoom:hover img{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}

.smallheader {
    position: relative;
    width: 100%;
    overflow-y: hidden;
    background: url("../img/bg-pattern.png"), #7b4397;
    /* fallback for old browsers */
    background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #C5B783, #00205B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: url("../img/bg-pattern.png"), linear-gradient(to left, #C5B783, #00205B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.slacktextcontainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0px !important;
}

.slacktext {

}

.slacktop {
    margin: 0px 1px 0px 1px;
    padding: 10px 2px 2px 2px;
    background: #ffffff;
    color: #2c2d2f;
}

.slackmessages {
    margin: 0px 1px 1px 1px;
    height: 100%;
    padding: 10px 10px 2px 2px;
    background: #ffffff;
    color: #2c2d2f;
    overflow-y: scroll;
}

.slackmessages .media-left {
    width: 15%;
}

.slackmessages .media-list {

}

.slackmessages .media-body .media-heading {
    font-size: 100%;
}

.slackmessages .media-body .media-heading .text-muted {
    font-size: 66%;
}

.slackmessages .media-body .slackmsg {
    font-size: 75%;
}
/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
.credit-card-box .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
